<!-- 布局 -->
<!DOCTYPE html>
<html>

<head>
    <!-- <title><%- theme.title %></title> -->
    <title>百草园-分享即所得</title>
    <link rel="icon" href="../lib/favicon.png">
    <meta charset="utf-8">

    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>
    <%- css('lib/font-awesome/css/all.css') %>




</head>

<body>

    <div id="main">

        <!-- 引入侧边栏 -->
        <sidebar id="#sidebar">
            <%- include('sidebar.ejs') %>
        </sidebar>

        <!-- 引入导航 -->
        <nav>
            <%- include('nav.ejs') %>
        </nav>

        <!-- 引入正文 -->
        <div id="content">
            <%- body %>
        </div>

    </div>

    <!-- 引入 js 文件 -->
    <%- js('js/main.js') %>

</body>

</html>